.app {
  width: 360px;
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  /* margin: 0 auto; */
}

.default {
  width: 800px;
  min-height: 100vh;
  max-height: fit-content;
  background-color: #578ffa;
}

.container {
  display: flex;
  flex-direction: row;
}
